<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Product">

    <insert id="insert" parameterType="product">
        insert into product_table(productName, productPrice)
        values ( #{productName}, #{productPrice})
    </insert>

    <select id="findAll" resultType="product">
            select * from product_table
    </select>

    <select id="findById" parameterType="Long" resultType="product">
        select * from product_table where id=#{id}
    </select>

    <update id="update" parameterType="product">
        update product_table set productName=#{productName}, productPrice=#{productPrice} where id=#{id}
    </update>

    <delete id="delete" parameterType="product">
        delete from product_table where id=#{id}
    </delete>



</mapper>














